<form name="registerForm">

  <div layout="column" layout-align="center center">

    <h1 class="md-display-2">{{ title }}</h1>

    <div id="inputContainer" layout="column">

      <md-input-container>
        <label>Email</label>
        <input required type="email" id="email" name="email" ng-model="email">
        <div ng-messages="registerForm.email.$error">
          <div ng-message="required">Die Email darf nicht leer sein!</div>
          <div ng-message="email">Die Email muss valid sein!</div>
        </div>
      </md-input-container>

        <p>Rolle</p>
        <md-radio-group ng-model="role" ng-required="true">
          <md-radio-button value="mentor" class="md-accent">Lehrmeister</md-radio-button>
          <md-radio-button value="apprentice" class="md-accent">Lernender</md-radio-button>
        </md-radio-group>

      <md-input-container>
        <label>Passwort</label>
        <input required id="password" type="password" ng-model="password" name="password" ng-pattern="/^(?=.*[0-9])(?=.*[A-Z])([a-zA-Z0-9]{8,})$/"/>
        <div ng-messages="registerForm.password.$error" role="alert">
          <div ng-message="required">Das Passwort darf nicht leer sein!</div>
          <div ng-message="pattern">
            Das Passwort muss nur Buchstaben und Zahlen, mindestens 1 Grossbuchstabe und mindestens 1 Zahl enthalten und mindestens 8 Zeichen lang sein!
          </div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Passwort wiederholen</label>
        <input required id="repeatPassword" type="password" ng-model="repeatPassword" name="repeatPassword" ng-pattern="password"/>
        <div ng-messages="registerForm.repeatPassword.$error" role="alert">
          <div ng-message="required">Die Passwortwiederholung darf nicht leer sein!</div>
          <div ng-message="pattern">Die Passwörter müssen übereinstimmen!</div>
        </div>
      </md-input-container>

    </div>

    <md-button class="md-raised md-accent" ng-click="register()" type="submit">
      Registrieren
    </md-button>

    <p>Du hast bereits ein Konto?
      <md-button class="md-accent" ng-click="navigateTo('/user/login')">Login</md-button>
    </p>

  </div>

</form>

