<form name="loginForm">

  <div layout="column" layout-align="center center">

    <h1 class="md-display-2">{{ title }}</h1>

    <div id="inputContainer" layout="column">

      <md-input-container>
        <label>Email</label>
        <input required id="email" name="email" ng-model="login.email">
        <div ng-messages="loginForm.email.$error">
          <div ng-message="required">Die Email darf nicht leer sein!</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Passwort</label>
        <input required id="password" type="password" name="password" ng-model="login.password"/>
        <div ng-messages="loginForm.password.$error" role="alert">
          <div ng-message="required">Das Passwort darf nicht leer sein!</div>
        </div>
      </md-input-container>

    </div>

    <md-button class="md-raised md-accent" ng-click="login()" type="submit">
      Login
    </md-button>

    <p>Du hast kein Konto?
      <md-button class="md-accent" href="/#!/user/register">Registrieren</md-button>
    </p>

  </div>

</form>