<div layout="column" layout-align="center center">
  <h1 class="md-display-2">{{ title }}</h1>
</div>

<div layout="row" layout-align="center center">
  <div flex="100" flex-gt-xs="80">
    <md-content class="md-padding" ng-if="role == 'mentor'">

      <form ng-submit="$event.preventDefault()">
        <md-autocomplete
            md-search-text="searchText"
            md-selected-item-change="selectedItemChange(item)"
            md-items="item in querySearch(searchText)"
            md-item-text="item.email"
            md-min-length="0"
            placeholder="Suche hier nach Lernenden">
          <md-item-template>
            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.email}}</span>
          </md-item-template>
          <md-not-found>
            Es wurde kein Lerndender mit der Email "{{searchText}}" gefunden.
          </md-not-found>
        </md-autocomplete>
      </form>

      <md-card class="searchResultCard" ng-if="selectedApprentice != null">
        <md-list class="no-padding">
          <md-list-item>
            <md-icon class="md-avatar-icon">
              <i class="material-icons">&#xE7FD;</i>
            </md-icon>
            <p>{{ selectedApprentice.email }}</p>
            <md-icon ng-cloak class="md-secondary" ng-if="selectedApprentice.status == 'unrequested'"
                     ng-click="follow()">
              <i class="material-icons">&#xE7FE;</i>
            </md-icon>
            <md-icon ng-cloak class="md-secondary" ng-if="selectedApprentice.status == 'unconfirmed'"
                     ng-disabled="true">
              <i class="material-icons">&#xE7FE;</i>
            </md-icon>
            <md-icon ng-cloak class="md-secondary" ng-if="selectedApprentice.status == 'confirmed'" ng-disabled="true">
              <i class="material-icons">&#xE876;</i>
            </md-icon>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-card>
    </md-content>

    <div ng-if="role === 'mentor'">
      <md-card ng-if="confirmedConnections.length === 0 && unconfirmedConnections.length === 0">
        <md-card-title>
          <md-card-title-text>
            <span class="md-title">Ziemlich leer hier...</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Sie haben noch keine Lernende abonniert.
            Sie können welche anfragen indem sie im Suchfeld nach ihnen suchen und sie danach anfragen.
          </p>
          <p></p>
        </md-card-content>
      </md-card>
    </div>

    <div ng-if="role === 'apprentice'">
      <md-card ng-if="confirmedConnections.length === 0 && unconfirmedConnections.length === 0">
        <md-card-title>
          <md-card-title-text>
            <span class="md-title">Ziemlich leer hier...</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Sie haben noch keine Anfragen erhalten.
            Sobald Ihr Lehrmeister Sie anfragt, können sie die Anfrage hier annehmen.
          </p>
          <p></p>
        </md-card-content>
      </md-card>
    </div>

    <md-card ng-if="confirmedConnections.length > 0">
      <md-subheader class="white-background">{{ confirmedConnectionsText }}</md-subheader>
      <md-list class="no-padding">
        <md-list-item ng-repeat="confirmedConnection in confirmedConnections">
          <md-icon class="md-avatar-icon">
            <i class="material-icons">&#xE7FD;</i>
          </md-icon>
          <p>{{ confirmedConnection.email }}</p>
          <md-icon ng-cloak class="md-secondary" ng-disabled="true">
            <i class="material-icons">&#xE876;</i>
          </md-icon>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-card>

    <md-card ng-if="unconfirmedConnections.length > 0">
      <md-subheader class="white-background">{{ unconfirmedConnectionsText }}</md-subheader>
      <md-list class="no-padding">
        <md-list-item ng-repeat="unconfirmedConnection in unconfirmedConnections">
          <md-icon class="md-avatar-icon">
            <i class="material-icons">&#xE7FD;</i>
          </md-icon>
          <p>{{ unconfirmedConnection.email }}</p>
          <md-icon ng-cloak class="md-secondary" ng-if="role === 'apprentice'" ng-click="accept(unconfirmedConnection.email)">
            <i class="material-icons">&#xE7FE;</i>
          </md-icon>
          <md-icon ng-cloak class="md-secondary" ng-disabled="true" ng-if="role === 'mentor'">
            <i class="material-icons">&#xE7FE;</i>
          </md-icon>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-card>
  </div>
</div>