<form name="changePasswordForm">

  <div layout="column" layout-align="center center">

    <h1 class="md-display-2">{{ title }}</h1>

    <div id="inputContainer" layout="column">

      <md-input-container>
        <label>Altes Passwort</label>
        <input required id="oldPassword" type="password" ng-model="oldPassword" name="oldPassword" />
        <div ng-messages="changePasswordForm.oldPassword.$error" role="alert">
          <div ng-message="required">Das alte Passwort darf nicht leer sein!</div>
        </div>
      </md-input-container>


      <md-input-container>
        <label>Neues Passwort</label>
        <input required id="newPassword" type="password" ng-model="newPassword" name="newPassword" ng-pattern="/^(?=.*[0-9])(?=.*[A-Z])([a-zA-Z0-9]{8,})$/"/>
        <div ng-messages="changePasswordForm.newPassword.$error" role="alert">
          <div ng-message="required">Das neue Passwort darf nicht leer sein!</div>
          <div ng-message="pattern">
            Das neue Passwort muss nur Buchstaben und Zahlen, mindestens 1 Grossbuchstabe und mindestens 1 Zahl enthalten und mindestens 8 Zeichen lang sein!
          </div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Neues Passwort wiederholen</label>
        <input required id="repeatNewPassword" type="password" ng-model="repeatNewPassword" name="repeatNewPassword" ng-pattern="newPassword"/>
        <div ng-messages="changePasswordForm.repeatNewPassword.$error" role="alert">
          <div ng-message="required">Die Passwortwiederholung darf nicht leer sein!</div>
          <div ng-message="pattern">Die Passwörter müssen übereinstimmen!</div>
        </div>
        </md-input-container>

    </div>

    <md-button class="md-raised md-accent" ng-click="changePassword()" type="submit">
      Passwort ändern
    </md-button>

  </div>

</form>

